@import url(base.css);
a:hover {
  opacity: 1;
}

body {
  background: #fbf2cb url(../img/bg.jpg);
}

#container {
  margin: 0 auto;
  text-align: center;
}

.img100 {
  width: 100%;
  height: auto;
  display: block;
}

.pc {
  display: none;
}

.cInner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
}

/*-------------------------------------------------
	++ MAIN 
-------------------------------------------------*/
#main {
  position: relative;
  background: #ffd800 url(../img/main_bg_sp.jpg) center top no-repeat;
  background-size: 100%;
  min-height: 124vw;
}
#main:after {
  content: "";
  background: url(../img/punc1.png) center bottom repeat-x;
  height: 20vw;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: 180%;
}
#main #logo {
  position: absolute;
  top: 3vw;
  right: 3vw;
  width: 20%;
}
#main #mainCatch {
  position: absolute;
  top: 10vw;
  left: 10%;
  width: 80%;
}
#main #mainTitle {
  position: absolute;
  top: 90vw;
  left: 8%;
  width: 84%;
}

#product {
  padding: 8vw 3vw;
}
#product .title {
  text-align: center;
  margin-bottom: 6vw;
  padding: 0 17vw;
}
#product .text {
  font-size: 3.4375vw;
  line-height: 190%;
}
#product .pdPrice {
  line-height: 160%;
  margin-top: 5vw;
  font-size: 2.8125vw;
}
#product .btn {
  margin-top: 5vw;
  padding: 0 10vw;
}

#salt {
  margin-top: 5vw;
  padding-bottom: 10vw;
}
#salt .cInner {
  padding: 0 3vw;
}

.bsWrap {
  background: url(../img/c02_bg1_sp.png) center top no-repeat;
  background-size: 100%;
  position: relative;
  padding-top: 7vw;
  margin: 0 auto;
  text-align: center;
}
.bsWrap .bsInner {
  background: url(../img/c02_bg2_sp.png) center top repeat-y;
  background-size: 100%;
  padding: 0 6vw 3vw 6vw;
}
.bsWrap .bsInner h2 {
  padding: 2vw 3vw 5vw 3vw;
}
.bsWrap .bsInner > .img {
  margin-bottom: 2vw;
}
.bsWrap .bsInner .yuzuginger {
  padding-top: 4vw;
}
.bsWrap .bsInner .yuzuginger .yuzu, .bsWrap .bsInner .yuzuginger .ginger {
  position: relative;
  padding-left: 50%;
  min-height: 40vw;
}
.bsWrap .bsInner .yuzuginger .yuzu {
  margin-bottom: 10vw;
}
.bsWrap .bsInner .yuzuginger .img {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
}
.bsWrap .bsInner .yuzuginger ul {
  padding: 7vw 0 0 10vw;
}
.bsWrap .bsInner .yuzuginger ul li {
  text-align: left;
  background: url(../img/c02_check.png) left center no-repeat;
  background-size: 5vw;
  color: #4ba200;
  font-weight: bold;
  padding-left: 5vw;
  font-size: 3.75vw;
  color: #4ba200;
}
.bsWrap .bsInner .yuzuginger .text {
  text-align: left;
  margin-top: 3vw;
}
.bsWrap .bsInner .yuzuginger .text .colRed {
  color: #fd5207;
}
.bsWrap .bsInner .yuzuginger .link {
  margin-top: 2vw;
  padding-left: 3vw;
}
.bsWrap:after {
  display: block;
  content: "";
  height: 7vw;
  background: url(../img/c02_bg3_sp.png) center bottom no-repeat;
  background-size: 100%;
}

.remodal {
  border-radius: 5vw !important;
}
.remodal .bsWrap .bsInner {
  padding: 0;
}
.remodal .bsWrap .bsInner .yuzuginger {
  padding: 0 5vw;
}
.remodal .bsWrap .bsInner .yuzuginger .yuzu, .remodal .bsWrap .bsInner .yuzuginger .ginger {
  padding-left: 0;
  margin-bottom: 0;
}
.remodal .bsWrap .bsInner .yuzuginger .img {
  position: relative;
  top: auto;
  left: auto;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.remodal .bsWrap .bsInner .yuzuginger .text {
  text-align: left;
  font-size: 3.4375vw;
}
.remodal .bsWrap .bsInner .yuzuginger button {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  margin-top: 3vw;
}

#bath {
  background: #ffd800 url(../img/c03_bg_sp.png) center top no-repeat;
  background-size: 100%;
  position: relative;
  padding-bottom: 8vw;
}
#bath .cInner {
  padding: 12vw 3vw 10vw 3vw;
}
#bath:before {
  content: "";
  background: url(../img/punc2.png) center top repeat-x;
  background-size: 180%;
  height: 20vw;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#bath h2 {
  padding: 0 13vw;
}
#bath .img1 {
  position: relative;
  padding-top: 2vw;
  margin: 0 auto;
  text-align: center;
}
#bath .img1 > img {
  width: 66%;
  position: absolute;
  top: 12vw;
  right: 0;
}
#bath .img1 .bubble {
  width: 36%;
}
#bath .img2 {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
#bath .img2 > img {
  width: 56%;
  margin-left: 10vw;
}
#bath .img2 .bubble {
  padding: 0 3vw;
}
#bath .btn {
  margin-top: 5vw;
  padding: 0 10vw;
}

#shop {
  padding: 8vw 0;
  position: relative;
}
#shop:before {
  content: "";
  background: url(../img/punc3.png) center bottom repeat-x;
  background-size: 180%;
  height: 20vw;
  width: 100%;
  position: absolute;
  top: -20vw;
  left: 0;
}
#shop:after {
  content: "";
  background: url(../img/punc2.png) center bottom repeat-x;
  background-size: 180%;
  height: 10vw;
  width: 100%;
  position: absolute;
  bottom: -10vw;
  left: 0;
  z-index: 1;
}
#shop .cInner {
  padding: 0 3vw;
}
#shop #shopBlock {
  background: url(../img/shop_bg2_sp.png) left bottom no-repeat;
  background-size: 100%;
  color: #333;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
#shop #shopBlock:before {
  display: block;
  content: "";
  height: 3vw;
  background: url(../img/shop_bg1_sp.png) left top no-repeat;
  background-size: 100%;
}
#shop #shopBlock .inner {
  padding: 5vw;
}
#shop #shopBlock h2 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5vw;
  padding: 0 10vw;
}
#shop #shopBlock h3 {
  margin-bottom: 2vw;
  font-size: 3.4375vw;
  color: #545454;
  font-weight: bold;
}
#shop #shopBlock .text {
  display: block;
  font-size: 2.8125vw;
  margin-bottom: 3vw;
  text-align: left;
}
#shop #shopBlock .att {
  display: block;
  font-size: 2.5vw;
  margin-bottom: 3vw;
  text-align: center;
}
#shop #shopBlock .btn {
  margin-top: 3vw;
  padding: 0 7vw;
}

/*-------------------------------------------------
	++ FOOTER
-------------------------------------------------*/
#footer {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: #FFF;
  padding: 10vw 0 5vw;
  background: #ffd800;
  position: relative;
}
#footer #footerLink .typeSns {
  padding: 0 3vw;
}
#footer #footerLink .typeSns li {
  display: inline-block;
  width: 44%;
  margin: 0 1vw;
}
#footer #footerLink .typeSns li img {
  border: 1px solid #CCC;
  width: 100%;
  height: auto;
  display: block;
}
#footer #policy {
  margin-top: 3vw;
  font-size: 77%;
}
#footer #copyright {
  display: block;
  padding: 3vw 0;
  font-size: 65%;
}

/*# sourceMappingURL=styles_sp.css.map */

@import url(base.css);
body {
  background: #fbf2cb url(../img/bg.jpg); }

#container {
  margin: 0 auto;
  text-align: center;
  min-width: 1200px; }

.sp {
  display: none; }

.pc {
  display: block; }

.cInner {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10; }

/*-------------------------------------------------
	++ MAIN 
-------------------------------------------------*/
#main {
  position: relative;
  background: url(../img/main_bg.jpg) center top no-repeat;
  min-height: 763px; }
  #main:after {
    content: "";
    background: url(../img/punc1.png) center bottom repeat-x;
    height: 132px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  #main #logo {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -500px; }
  #main #mainCatch {
    width: 647px;
    height: 150px;
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -323px; }
    #main #mainCatch img {
      width: 100%;
      height: auto; }
  #main #mainTitle {
    width: 390px;
    height: 125px;
    position: absolute;
    top: 355px;
    left: 47px; }
    #main #mainTitle img {
      width: 100%;
      height: auto; }

#product {
  padding: 45px 0 60px 0; }
  #product .title {
    text-align: center;
    margin-bottom: 25px; }
    #product .title img {
      margin: 0 auto;
      text-align: center; }
  #product .text {
    font-size: 18px;
    line-height: 40px; }
  #product .pdPrice {
    font-size: 14px;
    line-height: 30px;
    margin-top: 10px; }
  #product .btn {
    margin-top: 45px; }
    #product .btn img {
      margin: 0 auto;
      text-align: center; }

#salt {
  padding-bottom: 60px; }

.bsWrap {
  background: url(../img/c02_bg1.png) center top no-repeat;
  padding-top: 40px;
  width: 860px;
  position: relative;
  margin: 0 auto;
  text-align: center; }
  .bsWrap .bsInner {
    background: url(../img/c02_bg2.png) center top repeat-y;
    padding: 20px 0; }
    .bsWrap .bsInner h2 {
      margin-bottom: 40px; }
      .bsWrap .bsInner h2 img {
        margin: 0 auto;
        text-align: center; }
    .bsWrap .bsInner > .img {
      margin-bottom: 10px; }
      .bsWrap .bsInner > .img img {
        margin: 0 auto;
        text-align: center; }
    .bsWrap .bsInner .yuzuginger {
      padding: 15px 90px 0 90px; }
      .bsWrap .bsInner .yuzuginger ul {
        width: 110px;
        margin: 0 auto;
        text-align: center; }
        .bsWrap .bsInner .yuzuginger ul li {
          text-align: left;
          background: url(../img/c02_check.png) left center no-repeat;
          background-size: 17px;
          color: #4ba200;
          font-weight: bold;
          padding-left: 20px; }
      .bsWrap .bsInner .yuzuginger .yuzu {
        float: left; }
      .bsWrap .bsInner .yuzuginger .ginger {
        float: right; }
        .bsWrap .bsInner .yuzuginger .ginger ul {
          width: 100px; }
      .bsWrap .bsInner .yuzuginger .text {
        text-align: left;
        padding: 0 65px; }
        .bsWrap .bsInner .yuzuginger .text .colRed {
          color: #fd5207; }
      .bsWrap .bsInner .yuzuginger .link {
        margin-top: 20px; }
  .bsWrap:after {
    display: block;
    content: "";
    width: 860px;
    height: 38px;
    background: url(../img/c02_bg3.png) center bottom no-repeat; }

.remodal .bsWrap .bsInner {
  padding: 0; }

#bath {
  padding-top: 110px;
  background: #ffd800 url(../img/c03_bg.png) center 93px no-repeat;
  position: relative;
  padding-bottom: 120px; }
  #bath:before {
    content: "";
    background: url(../img/punc2.png) center bottom repeat-x;
    height: 87px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  #bath .img1 {
    position: relative;
    padding-top: 45px;
    width: 640px;
    margin: 0 auto;
    text-align: center; }
    #bath .img1 > img {
      float: right; }
    #bath .img1 .bubble {
      position: absolute;
      top: 55px;
      left: 0; }
  #bath .img2 {
    position: relative;
    padding-top: 120px;
    width: 814px;
    margin: 0 auto;
    text-align: center;
    padding-right: 24px; }
    #bath .img2 > img {
      float: right; }
    #bath .img2 .bubble {
      position: absolute;
      top: 45px;
      left: 0; }
  #bath .btn {
    margin-top: 30px; }

#shop {
  padding: 25px 0 60px 0;
  position: relative; }
  #shop:before {
    content: "";
    background: url(../img/punc3.png) center bottom repeat-x;
    height: 87px;
    width: 100%;
    position: absolute;
    top: -87px;
    left: 0; }
  #shop:after {
    content: "";
    background: url(../img/punc2.png) center top repeat-x;
    height: 87px;
    width: 100%;
    position: absolute;
    bottom: -60px;
    left: 0;
    z-index: 1; }
  #shop #shopBlock {
    background: url(../img/shop_bg2.png) left bottom no-repeat;
    color: #333;
    width: 930px;
    position: relative;
    margin: 0 auto;
    text-align: center; }
    #shop #shopBlock:before {
      display: block;
      content: "";
      width: 930px;
      height: 10px;
      background: url(../img/shop_bg1.png) left top no-repeat; }
    #shop #shopBlock .inner {
      padding: 20px; }
    #shop #shopBlock h2 {
      width: 713px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 35px; }
    #shop #shopBlock h3 {
      margin-bottom: 20px;
      font-size: 20px;
      color: #545454;
      font-weight: bold; }
    #shop #shopBlock .text {
      display: block;
      font-size: 14px;
      margin-top: 10px; }
    #shop #shopBlock .att {
      display: block;
      font-size: 12px;
      margin-top: 10px; }
    #shop #shopBlock .btn {
      margin-top: 40px;
      margin-bottom: 0; }

/*-------------------------------------------------
	++ FOOTER
-------------------------------------------------*/
#footer {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: #FFF;
  padding: 80px 0 20px;
  margin-top: -20px;
  background: #ffd800;
  position: relative; }
  #footer #footerLink .typeSns li {
    display: inline-block;
    width: 235px;
    height: 60px;
    margin: 0 3px; }
    #footer #footerLink .typeSns li img {
      border: 1px solid #CCC; }
  #footer #policy {
    margin-top: 20px;
    font-size: 14px; }
  #footer #copyright {
    display: block;
    padding: 15px 0;
    font-size: 13px; }

    /*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;

  -ms-touch-action: none;
  touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  color: #2b2e38;
  background: #fbf3d3;
	border-radius:32px;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  display: block;
  overflow: visible;
  width: 111px;
  height: 37px;
  margin: 20px auto;
  padding: 0;
	text-align: center;

  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;

  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  /*font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 35px;

  content: "\00d7";
  text-align: center;*/
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 12px 0;

  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 860px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

@charset "UTF-8";
.eclinks-btn a {
	display: block;
	position: relative;
	margin: 0 auto 50px;
	padding: 20px;
	width: 478px;
	background-color: #004b4a;
	border-radius: 10px;
	color: #ffffff;
	font-size: 24px;
	cursor: pointer;
}
.balm .eclinks-btn a {
    margin: 20px auto 0;
    padding: 20px 0;
    width: 50%;
    border-radius: 5px;
    font-size: 18px;
}
.bathmilk .eclinks-btn a {
    margin: 20px auto 0;
    width: 220px;
    font-size: 20px;
}
.bathmilk_vanilla .eclinks-btn a {
	margin: 20px auto 0;
	width: 440px;
}
.biooil_series .eclinks-btn a {
	margin: 20px 0 0;
	padding: 10px;
	width: 254px;
	border-radius: 25px;
	font-size: 18px;
}
.handcream_vanilla .eclinks-btn a {
	margin: 30px auto 50px;
	width: 474px;
}
.oil-care .eclinks-btn a {
    margin: 0 auto;
    padding: 7px 10px;
    width: 80%;
    border-radius: 25px;
    font-size: 16px;
}
.yuzu .eclinks-btn a {
    display: block;
    position: relative;
    margin: 45px auto 0;
    padding: 10px;
    width: 374px;
    background-color: #004b4a;
    border-radius: 10px;
    color: #ffffff;
    font-size: 24px;
}
@font-face {
  font-family: "symbols";
  src: url("../fonts/symbols.eot");
  src: url("../fonts/symbols.eot?#iefix") format("eot"), url("../fonts/symbols.woff") format("woff"), url("../fonts/symbols.ttf") format("truetype"), url("../fonts/symbols.svg#symbols") format("svg");
  font-weight: normal;
  font-style: normal;
}
.eclinks-btn a:after {
  display: inline-block;
  font-family: "symbols";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA03";
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1em;
  line-height: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.eclinks-btn a:hover:after {
  right: 10px;
}
#eclinks-bg {
	display: none;
}
#eclinks-bg.on {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	z-index: 100;
}
.eclinks-modal {
	display: none;
	position: fixed;
	padding: 40px 30px;
	width: 785px;
	height: auto;
	background-color: #eeeeee;
	border: 1px solid #333333;
	border-radius: 6px;
	box-sizing: content-box;
	text-align: left;
	z-index: 1000;
}
.eclinks-modal p {
	margin: 0;
	font-size: 14px;
}
.eclinks-close {
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	background-image: url("../img/icon_close.png");
	background-color: #888888;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 18px;
	border-radius: 30px;
	text-indent: -9999px;
	cursor: pointer;
}
.eclinks {
	margin: 20px 0 20px 0;
}
.eclinks .media__img {
	display: table-cell;
	box-sizing: border-box;
	line-height: 0;
	vertical-align: top;
}
.eclinks .media__img img {
	width: 58px;
	height: 58px;
	background: #ffffff;
	border: 1px solid #dcdcdc;
}
.eclinks .media__body {
	display: table-cell;
	padding-left: 1em;
	font-size: 14px;
	vertical-align: middle;
}
.eclinks hr {
	display: block;
	margin: 20px 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
}
ul.list-eclink {
	margin: 0 0 20px;
	padding: 0;
	overflow: hidden;
}
ul.list-eclink li {
	float: left;
	margin: 15px 15px 0 0;
	border-radius: 3px;
	width: 145px;
	height: 42px;
	font-size: 0;
}
ul.list-eclink li:nth-child(5n) {
	margin-right: 0;
}
ul.list-eclink li.btn-amazon a {
	border: 0 !important;
	background-color: transparent !important;
	background-image: url(../img/logo-amazon.png);
	background-size: 100%;
}
ul.list-eclink li.btn-cocokarafine a {
	background-image: url(../img/logo-cocokarafine.png);
}
ul.list-eclink li.btn-tomods a {
	border: 0 !important;
	background-color: transparent !important;
	background-image: url(../img/logo-tomods.png);
	background-size: 100%;
}
ul.list-eclink li.btn-lohaco a {
	background-image: url(../img/logo-lohaco.png);
}
ul.list-eclink li.btn-loft a {
	background-image: url(../img/logo-loft.png);
}
ul.list-eclink li.btn-rakuten24 a {
	background-image: url(../img/logo-rakuten24.png);
}
ul.list-eclink li.btn-cosme a {
	background-image: url(../img/logo-cosme.png);
	background-color: #333333;
}
.list-eclink li a {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #dddddd;
	box-shadow: 0 0 1px 0 #dddddd;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: auto 100%;
	-webkit-transition: all .2s;
	transition: all .2s;
}

@media (max-width: 767px) {
	.eclinks-btn a {
	    display: block;
	    position: relative;
	    margin: 20px 5%;
	    padding: 3%;
	    width: 90%;
	    background-color: #004b4a;
	    border-radius: 5px;
	    color: #ffffff;
	    font-size: 16px;
	}
	.balm .eclinks-btn a {
	    margin: 10px auto 0;
	    padding: 10px 0;
	    border-radius: 5px;
	    font-size: 14px;
	}
	.balm .eclinks-btn a:after {
		right: 5px;
	}
	.bathmilk .eclinks-btn a {
	    margin: 0 auto 30px;
	    padding: 7% 3%;
	    width: 80%;
	    font-size: 16px;
	}
	.bathmilk_vanilla .eclinks-btn a {
	    margin: 0 5%;
	    padding: 5% 3%;
	    width: 84%;
	}
	.biooil_series .eclinks-btn a {
	    margin: 0 0 0;
	    padding: 8px;
	    width: 100%;
	    font-size: 13px;
	}
	.handcream_vanilla .eclinks-btn a {
	    margin: 5vw auto;
	    padding: 3% 10%;
	    width: 80%;
	    font-size: 14px;
	}
	.oil-care .eclinks-btn a {
	    margin: 10px auto;
	    padding: 5px 0;
	    width: 70%;
	    font-size: 14px;
	}
	.yuzu .eclinks-btn a {
	    margin: 5vw auto 0;
	    padding: 3%;
	    width: 79%;
	    font-size: 16px;
	}
	.eclinks-modal {
		margin: 0;
		padding: 1.5em 4% 1em 4%;
		width: 90%;
		height: auto;
		box-sizing: border-box;
		overflow: auto;
	}
	.eclinks-close {
		width: 26px;
		height: 26px;
		background-size: 14px;
		border-radius: 26px;
	}
	ul.list-eclink {
		margin: 5px auto 20px;
		width: 260px;
	}
	ul.list-eclink li {
		/*
		float: none;
		margin: 10px auto 0 !important;
		text-align: center;
		*/
		margin: 15px 10px 0 0;
		width: 125px;
		height: 36px;
	}
	ul.list-eclink li:nth-child(2n), ul.list-eclink li:nth-child(4n) {
		margin-right: 0;
	}
	ul.list-eclink li:nth-child(5n) {
		margin-right: 10px;
	}
}
